@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

@font-face {
  font-family: 'Ginka';
  src: url('../fonts/Ginka-Light.otf') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginka';
  src: url('../fonts/Ginka-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginka';
  src: url('../fonts/Ginka-Medium.otf') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ginka';
  src: url('../fonts/Ginka-Bold.otf') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

