@import '~/assets/css/fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

header nav .route--active {
  color: theme('colors.primary');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}